extends ../layouts/default

block content
  .content-head.with-bg
    .collage-form-container
      .copy-container
        span#employerName.above-title #{data.employer.name}
        h1 Choose additional ALL EMPLOYEE benefits
        p.sub-heading You’ve picked “#{data.freeProduct.title}” as your FREE FOR ALL benefit.
        p.sub-heading(style='padding-bottom: 2rem;') You can also choose as many of these Aflac group plan benefits for ALL your employees, regardless of whether they select other Aflac products.
      img(src='images/hands-showing-globe.png')
  .wrapper.radio-checkbox-list.free-benefits-selection
    form#vasBenefitsSelection(action='additional-products',method='post' , novalidate='novalidate')
        .primary-content
          .contain
            each product in data.additionalProducts
              label.control.control--checkbox(class=`${product.slug}`)
                input(type='checkbox', name='additionalBenefits', value=`${product.slug}`, data-title=`${product.title}`)
                //- .control__indicator
                .icon-benefit
                p
                  span.h4 #{product.title}
                  span.price #{product.price}
                  span.pemth.field-tip pe/mth
                    span.tip-content Per Employee Per Month
                  span.productDesc #{product.shortDescription}
                    span.see-more.modalOpner(href='products/' + product.slug, name=`${product.title}`)
                  span.bullet
                    strong &bull; Best for:
                    | #{product.bestFor}
                  span.bullet &bull; 48% of employers pick this benefit

          label.hidden(for='vasBenefit') Please select the benefits you would like to offer to the employees
          .form-footer
              span.primary-actions
                button#primaryBtn.icon-right-open(type='submit') Next
              span.secondary-actions.link-btn
                a(href="/free-products") Back
        .card-blue.secondary-content#benefitChosenCard
          .free-section
            h4 Free Benefit
            ul
              li#freeBenefitChosen #{locals.data.freeProduct.title}
          .vas-section(style='display: none')
            h4 VAS Benefit
            ul#vasBenefitChosen
        .dialog
block js
  script.
    $("input[name='additionalBenefits']").on('change', function() {
      $('.control').removeClass('checked');
      var checkedValues = $("input[name='additionalBenefits']:checkbox:checked");

      if(checkedValues.length == 0) {
        $('.vas-section').hide();
        return;
      }

      var elements = $();
      $.each(checkedValues, function(idx, selectedProduct) {
        var $selectedProduct = $(selectedProduct);
        elements = elements.add($('<li>').text($selectedProduct.data('title')));
        $selectedProduct.parent().addClass('checked');
      });
      $('#vasBenefitChosen').html(elements);

      $('.vas-section').show();
    })
