extends ../layouts/default

block content
  if locals.data.tips && locals.data.tips.length > 0
    #flashBanner.flash.alert
      .wrap
        p We have a new producer tip!
        .link-options
          a#tipsModal.modalOpner(href='tips/' + locals.data.tips[0], name='Tip of the day', data-more-tips=`${locals.data.tips}`) See now
          a.close-banner(href='javascript:void(0)', onClick="$('#flashBanner').fadeOut('fast')") Save for later
        span.close-banner.icon-cancel(href='javascript:void(0)', onClick="$('#flashBanner').fadeOut('fast')", title='Close this alert')
  .wrapper.agent-dashboard
    .content-head
      h1 #{locals.user.name.first}'s Dashboard
      form#startEmployee.input-and-button-container(action='new-employer', method='GET', novalidate='novalidate')
        label.hidden(for='username') Agent ID
        input#employerName(type="text", name='employerName', required='required', data-msg-required='Please enter employer name', minlength="2", placeholder="Employer name")
        button#primaryBtn.icon-right-open(type='submit', onclick='$("#startEmployee").validate();') Start
    .primary-content
      .table-container
        table.table-minimal
          thead
            tr
              th Employers
              th Choices complete
              th 75% POPS
              th Submitted
          tbody
            each employer in data.employers
              tr.modalOpner(href='dialogs/employer-status.html', name='3Blades')
                th #{employer.name}
                td.dot.yes
                  span
                td.dot
                  span
                td.dot
                  span
      .table-container
        table.table-minimal.benefits
          caption Aflac All Employee Choices
          tbody
            each product in data.products
              tr.modalOpner(href='products/' + product.slug, name=`${product.title}`)
                th #{product.title}
                td $#{product.price}
                  abbr(title='Per employee per month')  pe/mth
    .dialog
