extends ../layouts/default

	
		
block content
	.wrapper
		.content-head
			h1 Contact Us
		.primary-content
			.card-gray
				if enquirySubmitted
					h3 Thanks for getting in touch.
				else
						form(method='post')
							input(type='hidden', name='action', value='contact')
							.question(class=validationErrors.name ? 'has-error' : null)
								label Name
								input(type='text', name='name.full', value=formData['name.full']).form-control
							.question(class=validationErrors.email ? 'has-error' : null)
								label Email
								input(type='email', name='email', value=formData.email).form-control
							.question
								label Phone
								input(type='text', name='phone', value=formData.phone, placeholder='(optional)').form-control
							.question(class=validationErrors.enquiryType ? 'has-error' : null)
								label What are you contacting us about?
								select(name='enquiryType').form-control
									option(value='') (select one)
									each type in enquiryTypes
										option(value=type.value, selected=formData.enquiryType == type.value)= type.label
							.question(class=validationErrors.message ? 'has-error' : null)
								label Message
								textarea(name='message', placeholder='Leave us a message...' rows=4).form-control= formData.message
						.form-actions
							button(type='submit').btn.btn-primary Send
