extends ../layouts/default

block content
  .content-head.with-bg
    .collage-form-container
      .copy-container.employees
        h1 Now all your employees can get Aflac value added services at our group rates, and you can pick one, at no cost
          span.field-tip(style='top: -1rem;') * 
            span.tip-content(style='font-weight: normal !important') *For employers who meet the conditions including offering Aflac core Group products, Aflac will provide access to the value added service at no cost.  Usage costs may apply; see benefit description for details.
        p(style='padding-bottom: 8rem') Introducing a new family of Aflac benefits        
          
      img.employees(src='images/employees.png')
  .wrapper.agent-dashboard
    .primary-content
      .login-title Offer Aflac Benefits to 
        strong ALL 
        | your employees
      form#startEmployee.input-and-button-container(action='new-employer', method='GET', novalidate='novalidate', style='padding-left: 1rem;')
        label.hidden(for='username') Agent ID
        input#employerName(type="text", name='employerName', required='required', data-msg-required='Please enter employer name', minlength="2", placeholder="Your Company Name")
        button#primaryBtn.icon-right-open(type='submit', onclick='$("#startEmployee").validate();', style='left: -5px') Start
      hr(style='margin-top: 5rem;')
      if data.preferredBenefitsRanking.length > 0        
        .table-container
          table.table-minimal.votes
            caption Employee Preferences Result
            thead
              tr
                th Rank
                th Benefit
                th Votes
            tbody
              each benefit, ranking in data.preferredBenefitsRanking
                tr.modalOpner(href='products/' + benefit.slug, name=`${benefit.title}`)
                  td #{ranking + 1}
                  td #{benefit.title}
                  td #{benefit.votes}
          hr(style='clear:both')
      .products-container
        h2 Aflac Value Added Services
        each product in data.products
          .item.modalOpner(href='products/' + product.slug, name=`${product.title}`)
            div(class=`${product.slug}`)
              .icon-benefit
                .ball
            strong #{product.title}
            .price $#{product.price}
              abbr.pemth.field-tip pe/mth
                span.tip-content Per Employee Per Month
  .dialog
