extends ../layouts/default

block content
  .content-head.with-bg
    .collage-form-container
      .copy-container
        span#employerName.above-title #{data.employer.name}
        h1 Start by picking your complimentary benefit choice*
        p.sub-heading(style='padding-bottom: 1.5rem;') You can choose any ONE of the following benefits, compliments of Aflac, for ALL your employees.
          //- span.note * After your Aflac representative reaches 75% of your employees
      img.img-products(src='images/hands-showing-globe.png')
  .wrapper.radio-checkbox-list.free-benefits-selection
    form#freeBenefitsSelection(action='free-products', method='post', novalidate='novalidate')
      .primary-content
        .contain
          each product in data.products
            label.control.control--radio(class=`${product.slug}`)
              input.radio(type='radio', name='freeBenefit', value=`${product.slug}`, required='required', data-msg='Please choose a complimentary benefit', data-title=`${product.title}`)
              //- .control__indicator
              .icon-benefit
                .ball
              p
                span.h4 #{product.title}
                //- span.free.field-tip COMP!
                  span.tip-content COMPLIMENTARY!
                span.productDesc #{product.shortDescription}
                  span.see-more.modalOpner(href='products/' + product.slug, name=`${product.title}`)
                span.bullet
                  strong Best for 
                  | #{product.bestFor}
                span.bullet 
                  strong XX% 
                  | of employers pick this benefit
        label.error(for='freeBenefit')
        
      .card-blue.secondary-content#benefitChosenCard(style='display: none')
          .free-section
            h4 Complimentary Benefit
            ul#freeBenefitChosen
      .form-footer
        span.primary-actions
          button#primaryBtn.icon-right-open(type='submit', onclick='$("#freeBenefitsSelection").validate();') Next
        span.secondary-actions.link-btn
          a(href="/new-employer") Back

    .dialog

block js
  script.
    $("input[name='freeBenefit']").click(function() {
      var $selected = $(this);
      if ($selected.is(':checked')) {
        $('.control').removeClass('checked');
        $selected.parent().addClass('checked');
        $('#freeBenefitChosen li').remove();
        $('#freeBenefitChosen').append('<li>' + $selected.data('title') + '</li>')
        $('#benefitChosenCard').show();
      }
    })
