div !{data.product.details}
strong.title Services include but are not limited to:
ul.check-list
  each val in data.product.getServicesIncludedAsArray()
    li= val

.product-redlines
  hr.content
  strong Best for:
  span !{data.product.bestFor}
  hr.content
  strong X
  span out of
  strong XX
  span employers pick this benefits
  hr.content

h4 Benefits for employees
ul.bullet
  each val in data.product.getBenefitsForEmployeesAsArray()
    li= val

h4 Benefits for employer
ul.bullet
  each val in data.product.getBenefitsForEmployerAsArray()
    li= val
.form-footer
  span.primary-actions
    button.btn-secondary Got it!
