extends ../layouts/default

block content
  .content-head.with-bg
    .collage-form-container(style='padding-top: 2rem;')
      span#employerName.above-title #{locals.data.employer.name}
      h1 Your New Benefits Summary
      p.sub-heading(style='padding-bottom: 2rem;') Here’s what you have picked!
  .wrapper.radio-checkbox-list.free-benefits-selection
    form#vasBenefitsSummary(action='confirm', method='POST', novalidate='novalidate')
        .primary-content
          table.table-minimal.table-summary
            thead
              tr
                td.title(colspan='2') COMPLIMENTARY FOR ALL Benefit
              tr
                th#selectedFreeBenefit(class=`${locals.data.benefitsSummary.freeBenefit.slug}`)
                  .icon-benefit
                    .ball
                  | #{locals.data.benefitsSummary.freeBenefit.title}
                td.free COMPLIMENTARY!
              tr#vasBenefitRowStart
                td.title(colspan='2') New Everwell Advantage Employee Benefits
              each product in data.benefitsSummary.additionalBenefits
                tr
                  th(class=`${product.slug}`)
                    .icon-benefit
                      .ball
                    | #{product.title}
                  td.price
                    span.has-plus #{product.price}
                    //- span.pemth.field-tip pe/mth
                      span.tip-content Per Employee Per Month
            tbody
              tr
                th Per employee per month
                td.perEmployeePerMonth.price.pepp-total #{locals.data.benefitsSummary.totals.perEmployeePerMonth}
              tr
                th Total premium per month
                td.total-premium(style='width: 35%;')
                  span#numberOfEmployees.grey #{locals.data.employer.numberOfEmployees}
                  span.grey *
                  span.perEmployeePerMonth.price.grey #{locals.data.benefitsSummary.totals.perEmployeePerMonth}
                  span.grey =
                  span#totalPremiumAmount.price.total #{locals.data.benefitsSummary.totals.premium}
          .card-blue(style='margin-bottom:2em')
            h2 Help us engage with your employees
            p.sub-heading New employers who achieve 75 Percent of People Seen (POPS) can choose one “complimentary for all” benefit, available to all employees. 
            p.sub-heading(style='margin-bottom:0') Plus, employers have the choice of several additional paid-for benefits for all their employees, regardless of whether they choose other Aflac products, with our group rates. 

          .radio-checkbox-list.engagement-choice
            .contain              
              label.control.control--radio
                input#popsEngagementGroupEmail.radio(type='radio', name='popsEngagement', value='Group Email')
                .control__indicator
                p
                  span.h4 Group email
                  span.productDesc We will share Aflac benefits information via a group Email and invite your employees to meet with your Aflac representative
              label.control.control--radio
                input#popsEngagementOfficeVisit.radio(type='radio', name='popsEngagement', value='Office Visit')
                .control__indicator
                p
                  span.h4 Office visit
                  span.productDesc Come to our office. We will provide space to schedule appointments with employees.
              label.control.control--radio
                input#popsEngagementTeleconferenceOrWebcasts.radio(type='radio', name='popsEngagement', value='Teleconference Or Webcasts')
                .control__indicator
                p
                  span.h4 Teleconference/Webcasts
                  span.productDesc Connect your employees through teleconference or webcasts remotely. We will send an invitation.
              label.control.control--radio
                input#provideYourEmployeeCensus.radio(type='radio', name='popsEngagement', value='Employee Census')
                .control__indicator
                p
                  span.h4 Employee census
                  span.productDesc Provide your employee census with contact details, and we will reach out to your employees individually
        .form-footer
            span.primary-actions
              button#primaryBtn(type='submit', onclick="$('#vasBenefitsSummary').validate()") Confirm
            span.secondary-actions.link-btn
              a(href="additional-products") Back
        .dialog
block js
  script.
    $("input[name='popsEngagement']").click(function() {
      var $selected = $(this);
      if ($selected.is(':checked')) {
        $('.control').removeClass('checked');
        $selected.parent().addClass('checked');
      }
    })
